---
layout: default
---

<h1 class="font-bold text-gray-700 text-2xl lg:text-5xl mb-8">{{ page.title }}</h1>

<div class="flex justify-between mb-6">
  <p class="meta text-gray-400 text-base lg:text-lg">{{ page.date | date_to_string }}</p>
  <p class="meta text-gray-400 text-base lg:text-lg">Axel Kee</p>
</div>

<div id="post-content">
  {{ content }}
</div>

<div class="mx-auto max-w-3xl py-8 px-6" id="cta-box">
  <div class="w-full flex flex-wrap">
      <h2 class="font-semibold text-3xl md:text-4xl tracking-tight">Struggling with Abandoned Checkouts?</h2>
      <div style="margin: 1em auto; display: flex; align-content: center; justify-content: space-around; column-gap: 50px;">
        <img src="https://img.yagisoftware.com/ac1s.png" alt="abandoned checkout checklist and workaround tips" style="display: inline-block; width: 160px; filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));">

        <img src="https://img.yagisoftware.com/ac2s.png" alt="abandoned checkout checklist and workaround tips" style="display: inline-block; width: 160px; filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));">
      </div>
      <h3 class="text-gray-700 text-base lg:text-xl mt-4"><strong>Get the "Most common Abandoned Checkout reasons" checklist and workaround tips</strong>, you will also receive tips to improve your store experience, about once a week</h3>
  </div>

  <div class="w-full text-center mt-4 mx-auto">
    <script async data-uid="527f31c846" src="https://yagisoft.ck.page/527f31c846/index.js"></script>
    <p class="text-gray-700 text-sm">We respect your privacy, unsubscribe any time</p>
  </div>

</div>

{% if page.id != 'index' and page.id !='about' and page.id !='tools' %}
<section class="mt-12">
  <div id="disqus_thread"></div>
  <script>
      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
      /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://yagisoftware.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
{% endif %}